.form_main{
    max-width: 650px;
}
.Sakay_head h1{
    font-size: 28px;
    font-weight: 600;
    color: #283237;
}
.form_div{
    background-color: white;
    max-width: 650px;
    box-shadow: 0 3px 9px #0000001a;
}
.form-control:disabled{
    background-color: transparent !important;
}
.order{
    background-color: #32C896 !important;
    color: #FFFFFF !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
}
.para{
    color: #808080;
    font-size: 12px;
}
.container{
    max-width: 650px !important;
}
.span_text{
    color: #D33282;
    font-size: 18px;
}

#other {
    text-align: left;
    min-height: 150px;
    padding: 0;
    resize: both;
}

#submit {
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}

#submit:hover {
    background-color: #7e80ff;
    color: white;
}